.hidden {
    display: none;
}

.redBorder {
    border-color: red;
}

#attributions {
    position: absolute;
    bottom: 0;
}

.fun {
    background-image: repeating-linear-gradient(red, orange, yellow, green, blue, purple 10%);
}